*{margin: 0;
 padding: 0;
}

.cabeçalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabeçalhoimg{
    width: 10%;
}

.cabeçalho_item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}

 .escola-img{
    width: 30%;
 }

 .escola{
    background-image: linear-gradient(#FFF6E0);
    color: #61677A;
    display: flex;
    justify-content: center;
 }

 .escola-div-conteudo{
    width: 40%;
 }